{
    CFBundleDevelopmentRegion = en;
    CFBundleExecutable = IslandCommandProPrefs;
    CFBundleIdentifier = "com.chasedavis.islandcommandpro.preferences";
    CFBundleInfoDictionaryVersion = "6.0";
    CFBundleName = "IslandCommand Pro";
    CFBundlePackageType = BNDL;
    CFBundleShortVersionString = "1.0.2";
    CFBundleVersion = "1";
    NSPrincipalClass = IslandCommandProPrefsListController;
}
