{
    CFBundleDevelopmentRegion = en;
    CFBundleExecutable = ApertureFXPrefs;
    CFBundleIdentifier = "com.chasedavis.aperturefx.preferences";
    CFBundleInfoDictionaryVersion = "6.0";
    CFBundleName = ApertureFX;
    CFBundlePackageType = BNDL;
    CFBundleShortVersionString = "1.0.1";
    CFBundleVersion = "1";
    NSPrincipalClass = ApertureFXPrefsListController;
}
