Package: com.chasedavis.halotouches
Name: HaloTouches
Depends: mobilesubstrate
Version: 1.0.0-1
Architecture: iphoneos-arm64
Description: Adds a soft halo ripple to SpringBoard touch starts.
Maintainer: Chase Davis
Author: Chase Davis
Section: Tweaks
