{
    CFBundleDevelopmentRegion = en;
    CFBundleExecutable = LockScreenAtmospherePrefs;
    CFBundleIdentifier = "com.chasedavis.lockscreenatmosphere.preferences";
    CFBundleInfoDictionaryVersion = "6.0";
    CFBundleName = "LockScreen Atmosphere";
    CFBundlePackageType = BNDL;
    CFBundleShortVersionString = "1.0.2";
    CFBundleVersion = "1";
    NSPrincipalClass = LockScreenAtmospherePrefsListController;
}
