{
    CFBundleDevelopmentRegion = en;
    CFBundleExecutable = HomeScreenZenProPrefs;
    CFBundleIdentifier = "com.chasedavis.homescreenzenpro.preferences";
    CFBundleInfoDictionaryVersion = "6.0";
    CFBundleName = "HomeScreenZen Pro";
    CFBundlePackageType = BNDL;
    CFBundleShortVersionString = "1.0.2";
    CFBundleVersion = "1";
    NSPrincipalClass = HomeScreenZenProPrefsListController;
}
