{
    CFBundleDevelopmentRegion = en;
    CFBundleExecutable = SpringBoardAutomationsPrefs;
    CFBundleIdentifier = "com.chasedavis.springboardautomations.preferences";
    CFBundleInfoDictionaryVersion = "6.0";
    CFBundleName = "SpringBoard Automations";
    CFBundlePackageType = BNDL;
    CFBundleShortVersionString = "1.0.2";
    CFBundleVersion = "1";
    NSPrincipalClass = SpringBoardAutomationsPrefsListController;
}
